table {
    margin-left: 20px;
}
table,
td {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    padding: 10px;
}

caption {
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 800;
}
